*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bad Script', cursive;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
}

h2{
    display: flex;
    color: transparent;
    font-size: 15vw;
}
h2 span{
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%{
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff;
    }

    100%{
        color: #fff;
        filter: blur(2px) hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff;
    }
}